@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;

    background: #f1f1f1;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

:root {
    --card-w: calc(874px / 3);
    --card-h: calc(1240px / 3);

}

.cardOuter {
    position: relative;
    width: var(--card-w);
    height: calc(var(--card-h) - 3px);
    overflow: hidden;
}

.imgCtr {
    display: block;
    /*border: 3px solid red;*/
    /*width: var(--card-w);*/
    /*height: var(--card-h);*/
    overflow: hidden;
    user-select: none;
    cursor: move;
    z-index: -1;
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(var(--card-h) - 7px);
}

.cardName {
    position: absolute;
    transform: skew(-0deg, -6deg);
    top: 12px;
    z-index: 9;
    left: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.aCard {
    border: 2px solid #222;
    font-family: 'Arial';
    z-index: 4;
    overflow: hidden;
    display: block;

}

.cardMCE {
    position: absolute;
    top: 318px;
    line-height: 18px;
    font-size: 14px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    padding: 0 9px;
}

.cardRank {
    font-size: 40px;
    font-weight: bolder;
    top: 245px;
    left: 29px;
    width: 80px;
    text-align: center;
    position: absolute;
    z-index: 9;
}

.aCardDyn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.cardChips {
    position: absolute;
    top: 47px;
    left: 5px;
    z-index: 99;
    transform: skew(-0deg, -6deg);
}

.svgCtr {
    position: relative;
    z-index: 3;
}

.chip {
    border: 2px solid #444;
    background: #ccc;
    padding: 1px;
    margin: 2px;
}


.st0 {
    fill: none;
}

.st1 {
    fill: #1C75BC;
}

.st2 {
    fill: transparent;
    stroke: #000000;
    stroke-miterlimit: 10;
    cursor: move;
}

.st3 {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st4 {
    opacity: 1;
    fill: #CCC;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st5 {
    opacity: 0.63;
    /*fill: url(#_x36__dpi_20_x25_);*/
    stroke: #000000;
    fill: #f6f6f6;
    stroke-miterlimit: 10;
}

.st6 {
    /*fill: #00AEEF;*/
}

.st7 {
    fill: #E6E7E8;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

#head {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0px 10px 0px 10px;
    background: #dbeaff;
}

.zoom-2 {
    zoom: 1.5;
}

input::file-selector-button {
    all: unset;
    background-color: var(--accent-9);
    color: var(--accent-contrast);
    padding: var(--space-1) var(--space-3);
    margin: 0 var(--space-1);
    --base-button-classic-active-padding-top: 2px;
    --base-button-height: var(--space-6);
    border-radius: max(var(--radius-2), var(--radius-full));
}

@media print {
    .no-print {
        display: none !important;
    }

    div#root, #theme.radix-themes , body{
        background: transparent !important;
    }

    #decktainer {
        zoom:0.75;
    }

    body {
        /*transform: scale(0.65);*/
    }
    #root {
        padding: 0 !important;
    }
    .card {
        box-shadow: 0 1px 5px none;
        margin-bottom:5px;
    }
    .aCard {
        border-bottom-width: 3px;
    }
}